.container {
  width: 420px;
  height: 380px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  height: 230px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome {
  height: 110px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome h1 {
  color: var(--white);
  font-size: 36px;
  font-weight: 600;
}

.welcomeWithGithub {
  width: 318px;
  
  display: flex;
  align-items: center
}

.welcomeWithGithub p {
  font-size: 1.1rem;
  font-weight: 500;
  
  color: var(--text-highlight);
  margin-left: 1rem;
  width: 254px;
}

.sendLogin {
  width: 420px;
  height: 80px;

  display: flex;
}

.sendLogin input {
  width: 340px;
  padding-left: 2rem;

  color: var(--white);
  background: 
    linear-gradient(90deg, var(--blue-dark) 0%,
    rgba(73, 83, 184, 0.2) 100%);

  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

.sendLogin button {
  width: 80px;
  
  background: var(--blue-dark);
  border-radius: 0px 5px 5px 0px;  
  border: none;
  
  font-size: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid var(--white);
  border-left-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 1400px) {
  .container {
    width: 500px;
    height: 460px
  }
  .content {
    height: 280px
  }
  .welcome {
    height: 150px;
  }
  .welcomeWithGithub {
    width: 100%;
  }
  .welcomeWithGithub p {
    font-size: 1.25rem;
    width: 300px
  }
  .welcomeWithGithub img {
    width: 70px
  }
  .sendLogin {
    width: 500px
  }
  .sendLogin input {
    width: 400px;
    height: 100px;
    font-size: 1.5rem;
  }
  .sendLogin button {
    width: 100px;
    height: 100px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 320px;
    padding: 10px;
  }
  .container > img {
    width: 300px;
  }
  .welcome {
    width: 100%;
  }
  .welcomeWithGithub {
    width: 100%;
    justify-content: flex-start;
  }
  .sendLogin {
    width: 100%
  }
  .sendLogin input {
    width: 220px;
  }
}
