.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

.loader {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--blue-dark);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
