.container {
  height: 100vh;
  width: 100%;
  padding-right: 10rem;

  background: var(--blue);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spaceImage {
  height: 100vh;
  overflow: hidden;
}

@media(min-width: 1400px) {
  .spaceImage img {
    width: 900px
  }
}

@media (max-width: 1270px) {
  .container {
    justify-content: center;
    padding-right: 0;
  }
  .spaceImage {
    display: none;
  }
}
